<!DOCTYPE html>
<html>
<head>
    <title>Edit Vehicle</title>
</head>
<body>
    <h1>Edit Vehicle</h1>
    <form action="/edit/<%= vehicle.id %>" method="POST">
        <input type="text" name="vehicleName" value="<%= vehicle.vehicleName %>" required><br />
        <input type="text" name="price" value="<%= vehicle.price %>" required><br />
        <input type="text" name="image" value="<%= vehicle.image %>" required><br />
        <input type="text" name="desc" value="<%= vehicle.desc %>" required><br />
        <input type="text" name="brand" value="<%= vehicle.brand %>" required><br />
        <button type="submit">Update</button>
    </form>
    <br>
    <a href="/">Back to Home</a>
</body>
</html>
